In [17]:
import pandas as pd
import numpy as np
import pickle
import time 
import os
from datetime import datetime
from operator import itemgetter

data_folder_path = '../'
raw_data_path = "../raw_data"
storage_path = "../database_storage"
daily_path = "../daily"
DTBS_path = os.path.join(storage_path, "DTBS.pkl")
DCBS_path = os.path.join(storage_path, "DCBS.pkl")
# re-open
with open(DCBS_path, 'rb') as f:  
    DCBS = pickle.load(f)
# re-open
with open(DTBS_path, 'rb') as f:  
    DTBS = pickle.load(f)

# 本文件的主要作用是读取DCBS.pkl，并将其转化成适合处理的DataFrame形式存储起来，这个运行时间大概1分钟左右，需要更新大数据库DTBS_DataFrame.pkl时手动运行此文件

In [18]:
DTBS_A = DTBS['A']

# 对于三级字典，可以将前两级组成MultiIndex,然后使用pandas的from_dict创建Dataframe
A_newDict = {(i, j): DTBS_A[i][j] for i in DTBS_A.keys() for j in DTBS_A[i].keys()}

A_DataFrame = pd.DataFrame.from_dict(A_newDict,orient='index')


# 重设DataFrame的索引，并将新增的两列改名，再重设索引
A_DataFrame = A_DataFrame.reset_index().copy()
A_DataFrame.rename(columns={'level_0' : 'bond_code','level_1' : 'date'},inplace=True)

A_DataFrame['id'] = A_DataFrame['bond_code'] + ',' + A_DataFrame['date']

A_DataFrame.set_index('id', inplace=True)

print(A_DataFrame)

                      bond_code        date    cpr      dp    bl     trt  \
id
110088.SH,2017-01-03  110088.SH  2017-01-03    NaN     NaN   NaN     NaN
110088.SH,2017-01-04  110088.SH  2017-01-04    NaN     NaN   NaN     NaN
110088.SH,2017-01-05  110088.SH  2017-01-05    NaN     NaN   NaN     NaN
110088.SH,2017-01-06  110088.SH  2017-01-06    NaN     NaN   NaN     NaN
110088.SH,2017-01-09  110088.SH  2017-01-09    NaN     NaN   NaN     NaN
...                         ...         ...    ...     ...   ...     ...
123214.SZ,2023-08-15  123214.SZ  2023-08-15    NaN     NaN   NaN     NaN
123214.SZ,2023-08-16  123214.SZ  2023-08-16    NaN     NaN   NaN     NaN
123214.SZ,2023-08-17  123214.SZ  2023-08-17    NaN     NaN   NaN     NaN
123214.SZ,2023-08-18  123214.SZ  2023-08-18  31.67  122.00  4.55   21.26
123214.SZ,2023-08-21  123214.SZ  2023-08-21  31.31  122.65  4.55  111.86

                       ytm     yl      dl  ia  ...  qsn  xxn        csv  \
id                                             ...
110088.SH,2017-01-03   NaN    NaN  999.00   0  ...  0.0  0.0   0.000000
110088.SH,2017-01-04   NaN    NaN  999.00   0  ...  0.0  0.0   0.000000
110088.SH,2017-01-05   NaN    NaN  999.00   0  ...  0.0  0.0   0.000000
110088.SH,2017-01-06   NaN    NaN  999.00   0  ...  0.0  0.0   0.000000
110088.SH,2017-01-09   NaN    NaN  999.00   0  ...  0.0  0.0   0.000000
...                    ...    ...     ...  ..  ...  ...  ...        ...
123214.SZ,2023-08-15   NaN    NaN  999.00   0  ...  NaN  NaN   0.000000
123214.SZ,2023-08-16   NaN    NaN  999.00   0  ...  NaN  NaN   0.000000
123214.SZ,2023-08-17   NaN    NaN  999.00   0  ...  NaN  NaN   0.000000
123214.SZ,2023-08-18 -0.52  5.953  153.67   1  ...  NaN  NaN  92.653673
123214.SZ,2023-08-21 -0.62  5.945  153.96   1  ...  NaN  NaN  93.403298

                           cz         pd  qs15  qs30  xx15  xx30   hs
id
110088.SH,2017-01-03   0.0000   0.000000   0.0   0.0   0.0   0.0  NaN
110088.SH,2017-01-04   0.0000   0.000000   0.0   0.0   0.0   0.0  NaN
110088.SH,2017-01-05   0.0000   0.000000   0.0   0.0   0.0   0.0  NaN
110088.SH,2017-01-06   0.0000   0.000000   0.0   0.0   0.0   0.0  NaN
110088.SH,2017-01-09   0.0000   0.000000   0.0   0.0   0.0   0.0  NaN
...                       ...        ...   ...   ...   ...   ...  ...
123214.SZ,2023-08-15   0.0000   0.000000   0.0   0.0   NaN   NaN  0.0
123214.SZ,2023-08-16   0.0000   0.000000   0.0   0.0   NaN   NaN  0.0
123214.SZ,2023-08-17   0.0000   0.000000   0.0   0.0   NaN   NaN  0.0
123214.SZ,2023-08-18  73.7734  25.592250   NaN   NaN   NaN   NaN  0.0
123214.SZ,2023-08-21  73.8599  26.460093   0.0   0.0   0.0   0.0  0.0

[1329112 rows x 23 columns]

In [19]:
A_DataFrame[A_DataFrame['ia'] == 1].to_csv('database_ByZCG\\观察.csv',encoding="utf_8_sig")

In [20]:
print(A_DataFrame.loc['127086.SZ,2023-07-19'])

bond_code     127086.SZ
date         2023-07-19
cpr               27.95
dp               133.42
bl                 31.6
trt                6.33
ytm               -2.89
yl                5.904
dl               161.37
ia                    1
qs                    0
xx                    0
csp               11.46
qsn                 NaN
xxn                 NaN
csv          104.275742
cz              92.4164
pd            12.832508
qs15                0.0
qs30                0.0
xx15                0.0
xx30                0.0
hs                  0.0
Name: 127086.SZ,2023-07-19, dtype: object

In [21]:
A_ConvertibleBondTimeSeries = A_DataFrame.copy()
print(A_ConvertibleBondTimeSeries.head(20))

# 保存到新的数据库中，分别存储成pkl格式和csv格式
f_save = open('database_ByZCG\\A_ConvertibleBondTimeSeries_DataFrame.pkl', 'wb')
pickle.dump(A_ConvertibleBondTimeSeries, f_save)
f_save.close()

A_ConvertibleBondTimeSeries.to_csv('database_ByZCG\\A_ConvertibleBondTimeSeries_DataFrame.csv',encoding="utf_8_sig")

                      bond_code        date  cpr  dp  bl  trt  ytm  yl     dl  \
id
110088.SH,2017-01-03  110088.SH  2017-01-03  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-04  110088.SH  2017-01-04  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-05  110088.SH  2017-01-05  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-06  110088.SH  2017-01-06  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-09  110088.SH  2017-01-09  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-10  110088.SH  2017-01-10  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-11  110088.SH  2017-01-11  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-12  110088.SH  2017-01-12  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-13  110088.SH  2017-01-13  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-16  110088.SH  2017-01-16  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-17  110088.SH  2017-01-17  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-18  110088.SH  2017-01-18  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-19  110088.SH  2017-01-19  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-20  110088.SH  2017-01-20  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-23  110088.SH  2017-01-23  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-24  110088.SH  2017-01-24  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-25  110088.SH  2017-01-25  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-01-26  110088.SH  2017-01-26  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-02-03  110088.SH  2017-02-03  NaN NaN NaN  NaN  NaN NaN  999.0
110088.SH,2017-02-06  110088.SH  2017-02-06  NaN NaN NaN  NaN  NaN NaN  999.0

                      ia  ...  qsn  xxn  csv   cz   pd  qs15  qs30  xx15  \
id                        ...
110088.SH,2017-01-03   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-04   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-05   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-06   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-09   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-10   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-11   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-12   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-13   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-16   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-17   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-18   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-19   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-20   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-23   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-24   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-25   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-01-26   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-02-03   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0
110088.SH,2017-02-06   0  ...  0.0  0.0  0.0  0.0  0.0   0.0   0.0   0.0

                      xx30  hs
id
110088.SH,2017-01-03   0.0 NaN
110088.SH,2017-01-04   0.0 NaN
110088.SH,2017-01-05   0.0 NaN
110088.SH,2017-01-06   0.0 NaN
110088.SH,2017-01-09   0.0 NaN
110088.SH,2017-01-10   0.0 NaN
110088.SH,2017-01-11   0.0 NaN
110088.SH,2017-01-12   0.0 NaN
110088.SH,2017-01-13   0.0 NaN
110088.SH,2017-01-16   0.0 NaN
110088.SH,2017-01-17   0.0 NaN
110088.SH,2017-01-18   0.0 NaN
110088.SH,2017-01-19   0.0 NaN
110088.SH,2017-01-20   0.0 NaN
110088.SH,2017-01-23   0.0 NaN
110088.SH,2017-01-24   0.0 NaN
110088.SH,2017-01-25   0.0 NaN
110088.SH,2017-01-26   0.0 NaN
110088.SH,2017-02-03   0.0 NaN
110088.SH,2017-02-06   0.0 NaN

[20 rows x 23 columns]

In [22]:
DTBS_B = DTBS['B']
DTBS_C = DTBS['C']
DTBS_D = DTBS['D']
DTBS_E = DTBS['E']
DTBS_F = DTBS['F']
DTBS_G = DTBS['G']
# print('B区：\n', DTBS_B)
# print('C区：\n', DTBS_C)
# print('D区：\n', DTBS_D)
# print('E区：\n', DTBS_E)
# print('F区：\n', DTBS_F)
# print('G区：\n', DTBS_G)


# 将B区格式化为DataFrame
B_DataFrame = pd.DataFrame.from_dict(DTBS_B,orient='index')
B_DataFrame.reset_index(inplace=True)
B_DataFrame.rename(columns={'index' : 'bond_code'},inplace=True)


# 将C区格式化为DataFrame
C_DataFrame = pd.DataFrame.from_dict(DTBS_C,orient='index')
C_DataFrame = pd.DataFrame(C_DataFrame.values.T, index=C_DataFrame.columns, columns=C_DataFrame.index)
C_DataFrame.reset_index(inplace=True)
C_DataFrame.rename(columns={'index' : 'date'},inplace=True)


# 将D区格式化为DataFrame
D_DataFrame = pd.DataFrame(DTBS_D['day'],columns=['date'])
mon_list = DTBS_D['mon']
tue_list = DTBS_D['tue']
wed_list = DTBS_D['wed']
thu_list = DTBS_D['thu']
fri_list = DTBS_D['fri']
def get_today_is_which_day(x):
    if x in mon_list:
        return 'mon'
    elif x in tue_list:
        return 'tue'
    elif x in wed_list:
        return 'wed'
    elif x in thu_list:
        return 'thu'
    else:
        return 'fri'
D_DataFrame['which_day'] = D_DataFrame['date'].apply(get_today_is_which_day)


# 将E区格式化为DataFrame
# 对于三级字典，可以将前两级组成MultiIndex,然后使用pandas的from_dict创建Dataframe
E_newDict = {(i, j): DTBS_E[i][j] for i in DTBS_E.keys() for j in DTBS_E[i].keys()}

E_DataFrame = pd.DataFrame.from_dict(E_newDict,orient='index')

# 重设DataFrame的索引，并将新增的两列改名，再重设索引
E_DataFrame = E_DataFrame.reset_index().copy()
E_DataFrame.rename(columns={'level_0' : 'stock_code','level_1' : 'date'},inplace=True)
E_DataFrame['id'] = E_DataFrame['stock_code'] + ',' + E_DataFrame['date']
E_DataFrame.set_index('id', inplace=True)


# 将F区格式化为DataFrame
# 对于三级字典，可以将前两级组成MultiIndex,然后使用pandas的from_dict创建Dataframe
F_newDict = {(i, j): DTBS_F[i][j] for i in DTBS_F.keys() for j in DTBS_F[i].keys()}

F_DataFrame = pd.DataFrame.from_dict(F_newDict,orient='index')

# 重设DataFrame的索引，并将新增的两列改名，再重设索引
F_DataFrame = F_DataFrame.reset_index().copy()
F_DataFrame.rename(columns={'level_0' : 'stock_code','level_1' : 'quarter'},inplace=True)


# 将G区格式化为DataFrame
G_DataFrame = pd.DataFrame.from_dict(DTBS_G,orient='index')
G_DataFrame.reset_index(inplace=True)
G_DataFrame.rename(columns={'index' : 'stock_code'},inplace=True)
# DTBS的G区中的数据没有清洗干净
G_DataFrame = G_DataFrame[G_DataFrame['stock_code'].apply(len) == 9].copy()
G_DataFrame.reset_index(inplace=True,drop=True)

# print(B_DataFrame)
# print(C_DataFrame)
# print(D_DataFrame)
# print(E_DataFrame)
# print(F_DataFrame.loc[F_DataFrame['quarter']=='2023-03'])
# print(G_DataFrame)

In [23]:
DTBS_DataFrame = {'A' : A_DataFrame,
                  'B' : B_DataFrame,
                  'C' : C_DataFrame,
                  'D' : D_DataFrame,
                  'E' : E_DataFrame,
                  'F' : F_DataFrame,
                  'G' : G_DataFrame}

# 保存到新的数据库中，分别存储成pkl格式和csv格式
f_save = open('database_ByZCG\\DTBS_DataFrame.pkl', 'wb')
pickle.dump(DTBS_DataFrame, f_save)
f_save.close()

B_DataFrame.to_csv('database_ByZCG\\B_ConvertibleBondLongTermInformation_DataFrame.csv',encoding="utf_8_sig")
C_DataFrame.to_csv('database_ByZCG\\C_MarketInformation_DataFrame.csv',encoding="utf_8_sig")
D_DataFrame.to_csv('database_ByZCG\\D_DateInformation_DataFrame.csv',encoding="utf_8_sig")
E_DataFrame.to_csv('database_ByZCG\\E_StockTimeSeries_DataFrame.csv',encoding="utf_8_sig")
F_DataFrame.to_csv('database_ByZCG\\F_StockQuarterInformation_DataFrame.csv',encoding="utf_8_sig")
G_DataFrame.to_csv('database_ByZCG\\G_StockLongTermInformation_DataFrame.csv',encoding="utf_8_sig")

In [24]:
DTBS['A']['113545.SH']['2023-08-15']

{'cpr': 42.16,
 'dp': 118.898,
 'dl': 161.058,
 'ytm': -2.25,
 'bl': 9.865,
 'trt': 0.7,
 'yl': 2.167,
 'csp': 9.96,
 'ia': 1,
 'xx': 0,
 'hs': 0,
 'csv': 83.63453815261043,
 'qs': 0,
 'qs15': 0,
 'qs30': 0,
 'xx15': 0,
 'xx30': 0,
 'cz': 106.3397,
 'pd': -21.351538369385626}